<!doctype html>
<html ng-app="flaskAngularApp">

<head>
    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script src="/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/vidBg.css">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/sass/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <style>
        .bg-1 {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            background: url('img/back1.jpg') no-repeat;
            background-size: cover;
        }
        
        .content {
            max-width: 800px;
            margin: 0 auto;
            padding: 30px;
            background: rgba(255, 255, 255, .9);
        }
    </style>

    <title>Lion 🦁</title>
</head>

<body>




    <!-- NAVIGATION -->
    <nav role="navigation " class="black z-depth-3">
        <div class="nav-wrapper container "><a id="logo-container" href="#" class="brand-logo white-text thin  "><h6>Lion</h6></a>


            <!-- blog -->
            <!-- Desktop version -->
            <ul class="right white-text">

                <li class="thin white-text "><a ui-sref="gifts"><h4 class="thin white-text">About Deceptron</h5></a>
                </li>
            </ul>

        </div>
    </nav>





    <!-- github sticker -->
    <!-- <a href="https://github.com/ColCarroll/flask_angular_example"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1050;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a> -->
    <div class="jumbotron">
        <div class="center container">


            <br>
            <img src="/deceptronAssets/deceptronTitle.png" width="70%" />

        </div>
    </div>


    <div class="row">
        <div class="col s12">

        </div>
        <div id="Application" class="col s12">


            <div class="container" ng-controller="ModelCtrl">
                <div class="row">
                    <div class="col s3">
                        <h2 class="thin">Features</h2>
                        <form class="form-horizontal">
                            <div class="form-group" ng-repeat='dimension in dimensions'>
                                <label class="col-md-4 control-label">{{dimension}}:</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="number" min={{valMin(dimension)}} max={{valMax(dimension)}} step="0.05" ng-model="features[dimension]" ng-change="updatedeceptionScore()" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="light"="col-md-10">
                        <h2>Class Probabilities</h2>
                        <div class="col-md-6">
                            <iris-bars data="deceptionScore" id='barChart'></iris-bars>
                        </div>
                        <div class="col-md-6">
                            <iris-scatter domain="domain" yval='Sepal Length' xval='Sepal Width' features='features' id='sepalChart' legend=true></iris-scatter>
                            <iris-scatter domain="domain" yval='Petal Length' xval='Petal Width' features='features' id='petalChart' legend=false></iris-scatter>
                        </div>
                    </div>
                </div>
            </div>

            <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
            <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
            <script src="lotusAssets/barChart.js"></script>
            <script src="lotusAssets/scatterPlot.js"></script>
            <script src="lotusAssets/app.js"></script>
            <script type="text/javascript">
                document._EUGO = 'b9297aa7bf949456ec30';
                document.head.appendChild(function() {
                    var s = document.createElement('script');
                    s.src = 'https://eugo.ws/eugo.js';
                    s.async = 1;
                    return s;
                }());
            </script>



            <h2 class="light">Features</h2>
            <div id="Explanation" class="col s12">Explanation

                <img scr="" />
                <p>Illustrating how to display an interactive model using the Python
                    <a href="http://flask.pocoo.org/">Flask</a> framework and
                    <a href="https://angularjs.org/">AngularJS</a>. We use the famous
                    <a href="http://en.wikipedia.org/wiki/Iris_flower_data_set">iris dataset</a> to train a <a href="http://en.wikipedia.org/wiki/Random_forest">random forest</a> in <a href="http://scikit-learn.org/stable/">scikit-learn</a>, and put up an interactive dashboard giving predictions.</p>
            </div>
        </div>





    </div>





    <footer class="page-footer  black ">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h6 class="white-text">Lion</h6>
                    <p class="white-text ">Lion prides itself on delivering data mined insights that can answer real world questions and trends.</p>

                </div>
                <div class="col l3 s12">
                    <h6 class="white-text">Links</h6>
                    <ul>
                        <li><a class="white-text light" href="#!">Coming Soon...</a>
                        </li>

                    </ul>
                </div>
                <div class="col l3 s12">
                    <h6 class="white-text">Connect</h6>
                    <ul>
                        <li><a class="white-text light" href="http://facebook.com">Facebook Page</a>
                        </li>
                        <li><a class="white-text light" href="http://raptroop.com">Raptroop</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a class="white-text "> Made by  </a> <a class="white-text " href="http://natumyers.com">Natu Myers</a>
            </div>
        </div>
    </footer>

</body>

</html>